/* Agrupar propiedades*/

%flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

%titulo-principal{
    font-style: italic;
    text-align: center;
    padding-top:  10%;
    padding-bottom: 30px;
}

%animacion {
    animation-duration: 2s;
    animation-name: aparecer;
}

%keyframe {
    @keyframes aparecer {
      0% {
       opacity: 0;
     }
     100% {
       opacity: 1;
     }
     }
}

%botones {
border: 1px solid black;
border-radius: 4px;
padding: 20px 10px;
background-color: lightgray;
}