@import '../base/variables';
@import '../base/mixins';
@import '../base/extends';
@import'../base/media';

/*  footer  */
footer {
    padding: 5%;
    background-color: $background-color;

    div {
         flex-direction: row;
            @extend %flexbox;
            
        aside{
            @extend %flexbox; 
            flex-direction: column;
        }

        .footer-conteiner {
            padding: 2%;
            display: flex;
            justify-content: space-around;
            margin: 0% 10% 0% 10%;
        }
        
        .logo-rrss {
        width: 8%;
        }

    }   

}



/* fin footer*/