@import '../base/variables';
@import '../base/mixins';
@import '../base/extends';
@import'../base/media';

/* INICIO HEADER*/

/* Reduzco la imagen del logo y del index*/

header {
    .menu-conteiner {
        background-color: $background-color;
    }
   .navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
    position: fixed;
    padding: 0% 3%;
    }

    &:hover {
    font-size: 105%;
    text-decoration-color:black;
    }
    
    &:visited{
    color: black;
    }
}

/* FIN HEADER*/
