@import '../base/variables';
@import '../base/mixins';
@import '../base/extends';
@import'../base/media';

/* INICIO INDEX*/

/* seccion 1 */
section {    
  
  .imagen-inicio {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &:hover {
      @include transform;
    }
  }

  .color-h1 {
  @extend %titulo-principal;
  @extend %animacion;
  }

}
/* fin seccion 1*/


/* SECCION 2*/
section.photo-grid-conteiner {
 
  display: flex;
  flex-direction: row;
  justify-content:center;
  flex-wrap:wrap;
  width:100%;  
  align-content: center;

  .photo-grid {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }

  p {
    padding: 0% 25% 0% 25%;
  }

  .foto-grid-1:hover {
    transition: all 2s;
    transform: scale(1.3);
  }
 }

/*FIN SECCION 2*/

/* SECCION 3*/

.section-3 {
  padding: 5%;
  @extend %flexbox;
  flex-direction: column;

  h2 {
    .color-h2 {
      @extend %titulo-principal;
      @extend %animacion;
    }
  }
 
}


/* FIN INDEX*/

/* DEMAS SECCIONES*/


@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* las secciones tendran otro tipo de color */
section {
  padding: 1%;
  color: darkolivegreen;
  background-color:$back-section;
  
  h2 {
    @extend %titulo-principal;
    @extend %animacion;
    }
}


