@import '../base/variables';
@import '../base/mixins';
@import '../base/extends';
@import'../base/media';

/* INICIO INDEX*/

/* seccion 1 */
section {    
  
  .imagen-inicio {
    width: 70%;
    margin: 0% 15%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &:hover {
      @include transform;
    }
  }

  .color-h1 {
  @extend %titulo-principal;
  @extend %animacion;
  }
  .nosotros {
    padding: 1% 20%;

    &:hover {
        @include transform;
      }
  }


}
/* fin seccion 1*/


/* SECCION 2*/
section.photo-grid-conteiner {
 
  display: flex;
  flex-direction: row;
  justify-content:center;
  flex-wrap:wrap;
  width:100%;  
  align-content: center;

  .photo-grid {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  p {
    padding: 1rem;
  }

  .foto-grid-1:hover {
    transition: all 2s;
    transform: scale(1.1);
  }
 }

 /* BOTONES*/
section.ver-mas{
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;}

div.ver-mas {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;}


.button {
  background-color: darkolivegreen;
  color: #fff;
  text-decoration: white;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  border-radius: .25rem;
  position: sticky;
  &:hover {
    background-color: lightgray;
    border-color: darkolivegreen;
    color: darkolivegreen;
    transition: all 0.5s;
    transform: scale(1.2);
  }
}
/* FIN BOTONES*/

/*FIN SECCION 2*/

/* FIN INDEX*/

/* Grifd sistem seccion producto*/
section#grid{
  display: grid;
  justify-content: center;
  justify-items: center;
  
  div.grid-item {
    @extend %animacion;
    padding: 1rem;

  }
}

div.grid-item.texto { 
    background-color: white;
    border-color: darkolivegreen;
    border-radius: .50rem;
}

section {
  padding: 1%;
  color: darkolivegreen;
  background-color:$back-section;
  
  h2 {
    @extend %titulo-principal;
    @extend %animacion;
  }
}

section.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;

}

ul.nosotros {
    display: flex;
    margin: 5% 20%;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: .50rem;
    padding: 0%;
}

